<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="BlogSystemEntities" connectionString="metadata=res://*/BlogSystemModels.csdl|res://*/BlogSystemModels.ssdl|res://*/BlogSystemModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=09a4acd9-73cf-4f99-811b-a239008d873d.sqlserver.sequelizer.com;initial catalog=db09a4acd973cf4f99811ba239008d873d;persist security info=True;user id=jigfauehfjnpqkur;password=3vyAbKhbyFSkSmVQAvcPqYpK8DmFVpfXNNKqmNpUknWBfaH8GWiquhycgWBDyJoj;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>