<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BlogSystemEntities" connectionString="metadata=res://*/BlogSystemModels.csdl|res://*/BlogSystemModels.ssdl|res://*/BlogSystemModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=09a4acd9-73cf-4f99-811b-a239008d873d.sqlserver.sequelizer.com;initial catalog=db09a4acd973cf4f99811ba239008d873d;persist security info=True;user id=jigfauehfjnpqkur;password=3vyAbKhbyFSkSmVQAvcPqYpK8DmFVpfXNNKqmNpUknWBfaH8GWiquhycgWBDyJoj;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>